body {
    font-size:40px;
    margin:0px;
    padding:0px;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#212324;
    font-family: Arial;
}

#p1
{
    position: absolute;
    left: 700px;
    top:-50px;
    text-align: left;
    font-size: 0.975em; /* 14px/16=0.875em */
    color: #eef8f8e8;
    margin-top: -5cm;
    margin-left: -30cm;
}

#p2 
{
    position: absolute;
    left: 850px;
    top:600px;
    text-align: center;
    font-size: 0.875em; /* 14px/16=0.875em */
    color: #910e19e8;
    margin-top: -5cm;
    margin-left: -30cm;
}
#death
{
position: absolute;
margin-left: -1.5cm;
font-size: 1.975em;
color: brown;
text-align: center;
}

#win
{
position: absolute;
margin-left: -1.3cm;
font-size: 1.975em;
color: rgb(23, 138, 13);
text-align: center;
}

button {
    top: 50%;
    appearance:none;
    outline:none;
    display:inline-block;
    font-size:1.5em;
    cursor:pointer;
    text-decoration:none;
    padding:12px 48px 12px 48px;
    border-radius:4px;
    color:#ffffff;
    background-color:#020708;
    border: 2px solid #ffffff;
}
button {   transition-duration: 0.4s; }
button:hover {
    font-size:1.6em;
    background-color:#05c46b;
}
.screen {
    padding: 20px;     
    position: fixed;     
    top:50%;     
    left:50%;     
    margin-top: -100px;     
    margin-left: -100px;     
    height:200px;     
    width:250px;     
    text-align: center;
}
